/* Set global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #d9e0dc;
    margin: 0;
    padding: 0;
    text-align: center; /* Center all text by default */
}

/* Header styles */
header {
    background-color: #436f5a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Floating navigation bar styles */
.floating-nav {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #587c68;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.floating-nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.floating-nav a:hover {
    background-color: #3b5544;
    color: #ffffff;
}

/* Content area styles */
.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; /* Center the content container */
}

/* Section styles */
.section {
    background-color: #f8f1df;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px; /* Limit content width for better readability */
    text-align: left; /* Align text to the left */
}

/* Section title styles */
.section h2 {
    background-color: #436f5a;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px; /* Add rounded corners to section titles */
    text-align: center; /* Keep section titles centered */
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto; 
}

/* Video styles */
video {
    max-width: 100%;
    height: auto;
    margin: 20px auto; 
    border: 2px solid #587c68; 
    border-radius: 8px;
    display: block; 
}

/* Test model image link styling */
.test-model-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer; 
}

.test-model-container img:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}


/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #587c68;
    color: #ffffff;
    margin-top: 20px;
}

